{
    "extends": [
        "eslint-config-ali",
        "eslint-config-ali/react"
        // "eslint-config-ali/jsx-a11y" // 无障碍辅助功能
    ],
    "rules": {
        "semi": [2, "never"],
        "no-console": "off",
        "react/no-array-index-key": "off",
        "react/prop-types":"off"
    },
    "globals": {
        "GLOBAL_ENV": true
    },
    "ignorePatterns": [ // 忽略文件夹
        "dist",
        "node_modules",
        "*.d.ts"
    ]
}